* {
    transition: 0.5s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    user-select: none;
    color:black;
}

.dark h1,
.dark h2,
.dark p
{
    color: white;
}

.inaccessible {
    background-color:darkgreen;
}

.inaccessible h1,
.inaccessible h2,
.inaccessible p
{
    color:darkred;
}

body {
    height: 100vh;
    min-height: 30rem;
    background-color: white;
}

h1 {
    font-weight:bolder;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10.5fr 1.5fr;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.four-rem {
    min-height:4rem;
}

#random-topic {
    color: rgb(0, 222, 0);
    font-size: 3rem;
}

.inaccessible #random-topic {
    color: purple;
}

.dark {
    color: white;
}

body.dark {
    background-color: black;
}

#randomize {
    background-color: red;
    color:white;
}

#menu {
    position: absolute;
    margin: 1rem 2rem;
    right: 0;
    top: 0;
    display:flex;
    justify-content: space-between;
    gap: 1rem;
}

.button {
    background-color: black;
    color:white;
    cursor: pointer;
    font-size: 0.8rem;
    width: 7rem;
    padding: 0.4rem 1rem;
    border-radius: 0.125rem;
}

#color-theme-button {
    width: fit-content;
}

.dark .button {
    background-color: white;
    color:black;
}

.instruction {
    width:100vw;
}