* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    user-select: none;
}

body {
    height: 100vh;
    min-height: 30rem;
}

h1 {
    font-weight:bolder;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 10.5fr 1.5fr;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-rem {
    min-height:4rem;
}

#sentence {
    color: green;
    font-size: 3rem;
}